<% include header %>
<br>
<link rel="stylesheet" href="css/style4.css" media="screen" type="text/css"/>

<div class="arkaplan"></div>

<div class="ornek">

    <% posts.forEach(function (post, index) { %>
    <p><h2><a href="/u/<%= post.name %>/<%= post.time.minute %>/<%= post.title %>"><%= post.title %></a></h2></p>
    <p class="info">
        作者：<a href="/u/<%= post.name %>"><%= post.name %></a> |
        日期：<%= post.time.minute %> <br>
        标签：
        <% post.tags.forEach(function (tag, index) { %>
        <% if (tag) { %>
        <a class="tag"><%= tag %></a>
        <% } %>
        <% }) %>
    </p>
    <h5 class="neirong1"><%- post.post %></h5>
    <p class="info">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>
    <% }) %>

</div>



<script src="http://www.jq22.com/jquery/1.9.1/jquery.min.js"></script>

<script src="js/index.js"></script>

<%- include paging %>
<% include footer %>